<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key Bridge</title>
</head>
<body>
    <h1>The Late Key Bridge in Maryland</h1>
    <h2>Here is what happened</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Francis_Scott_Key_Bridge_and_Cargo_Ship_Dali_NTSB_view_%28cropped%29.jpg/330px-Francis_Scott_Key_Bridge_and_Cargo_Ship_Dali_NTSB_view_%28cropped%29.jpg" alt="">
    <p>The rebuild is going to be a huge cost!</p>
</body>
</html>
